.videoSidebar{
    grid-row-start: 2;
    grid-column-start: 2;
    grid-row-end: span 2;
    z-index: 2;
    display: block;
    margin-left: 62%;
    margin-top: 64%;
    text-align: center;
    align-self: auto;
    width: 120px;
    height: 300px;
}
.videoSidebar__button {
    z-index: 2;
    color: #FFFFFF;
    text-shadow: -2px 2px 2px #2e2e2e;
    font-size: 32px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 36px;
    align-self: auto;
}

.videoSidebar__text{
    margin-top:-2px;
    font-size: 12px;
}