.container {
    display: grid; 
    grid-template-columns: 0.8fr 1.4fr 0.8fr; 
    grid-template-rows: 0.2fr 2.6fr 0.2fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      'l1 l2 l3'
      'c1 cellphone c2'
      'b1 b2 b3'; 
    background-color: #242424;
    margin:-8px;
}

html, body , .container {
    height: 100%;
    margin: 0;
  }  

.cellphone{
    grid-area: cellphone; 
}

.l2{
    grid-area:l2;
    color:#FFFFFF;
    text-align: center;
}

